<!-- <div *ngIf="(auth$ | async)?.user"> -->
<div>
  <mat-nav-list>
    <h3 mat-subheader>项目</h3>
    <mat-list-item (click)="handleClicked($event, '/project')">
      <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
      <span mat-line>项目首页</span>
      <span mat-line mat-subheader> 查看您参与的全部项目 </span>
    </mat-list-item>
    <!-- <mat-list-item *ngFor="let prj of projects$ | async" (click)="handlePrjClicked($event, prj)">
      <mat-icon mat-list-icon svgIcon="project"></mat-icon>
      <a mat-line>
        {{prj.name}}
      </a>
      <span mat-line mat-subheader> {{prj.desc}} </span>
    </mat-list-item> -->
    <mat-list-item (click)="handleClicked($event, '/ngrx')">
      <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
      <span mat-line>ngrx</span>
      <span mat-line mat-subheader> ngrx使用示例 </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>日历</h3>
    <mat-list-item (click)="handleClicked($event, '/tasklists')">
      <mat-icon mat-list-icon svgIcon="month"></mat-icon>
      <span mat-line>月视图</span>
      <span mat-line mat-subheader> 按月方式查看事件 </span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon svgIcon="week"></mat-icon>
      <span mat-line>星期视图</span>
      <span mat-line mat-subheader> 按星期方式查看事件 </span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
      <span mat-line>当日视图</span>
      <span mat-line mat-subheader> 按天方式查看事件 </span>
    </mat-list-item>
  </mat-nav-list>
</div>
