
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  height: 25em;
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
// 只有加deep好使！！！
/deep/.mat-grid-list {
  display: block;
  position: relative;
  width: 50vw;
}

.text-right {
  margin: 10px;
  text-align: end;
}

.control-padding{
  margin-top: 10px;
  padding-top: 10px;
}

.action-area {
  display: flex;
}

// form {
//   display: flex;
//   flex-direction: column;
//   flex: 0 1 auto;
// }

// mat-tab {
//   display: flex;
//   flex: 0 1 auto;
// }

// :host {
//   display: flex;
//   flex-direction: column;
// }
