
<div class="container" 
[@listAnim]="projects.length"
(@listAnim.start)="onAnimationEvent($event)"
(@listAnim.done)="onAnimationEvent($event)">
  <!-- 为了加动画，加的外层wrapper -->
  <app-project-item
    class="card"
    *ngFor="let project of projects"
    [item]="project"
    (launchUpdateDialog)="openUpdateDialog(project)"
    (launchInviteDailog)="openInviteDialog(project)"
    (launchDeleteDailog)="openDeleteDialog(project)">
  </app-project-item>
</div>

<button mat-fab (click)="openNewProjectDialog()" type="button" class="fab-button">
  <mat-icon>add</mat-icon>
</button>
