
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  height: 25em;
  flex: 0 1 20rem;
}

.text-right {
  margin: 10px;
  text-align: end;
}

// :host {
//   display: flex;
// }
/deep/ .mat-card-content>:last-child:not(.mat-card-footer){
   margin-top: -10px;
}
